* {
    margin: 0%;
    padding: 0%;
}
.wrapper {
    margin: 0 auto;
    box-sizing: border-box;

}

body {
    background-image: url('../images/background_image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    background: rgba(0, 0, 0, 0.4);
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    margin-right: 79px;
    margin-left: 79px;

}

.header_login {
    text-decoration: none;
    color: white;
}

h1 > a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

h1 > a:hover{
    color: #01813F;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_login:hover{
    color: #01813F;
}

.image_box {
    margin-right: 25px;
}


.hd_nav {
    border-left: 1px solid rgba(255, 255, 255, 0.5);;
    padding-left: 25px;
}

ul.icons {
    list-style: none;
    display: flex;
    justify-content: center;
}

ul.icons > li {
    padding-left: 25px;
}

.icon_hover:hover{
    fill: #01813F;
    transition: ease-in 0.1s all;
}

.login_link {
    text-decoration: none;
    color: #3CB878;
}

.form_links:hover{
    color: #01813F;
    text-decoration: underline;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 444px;
    height: auto;
    background-color: white;
    margin-top: 53px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    box-sizing: border-box;
}

.green_square {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 29px;
    background: #3CB878;
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Ubuntu', sans-serif;
}

.log_link {
    display: flex;
    justify-content: space-between;
    padding: 31px 61px 15px 61px;
}

.form_signup {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}


.legend {
    text-align: center;
    color: #848484;
}

/* checkbox */

.chbox_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    margin-top: 4px;
}

.chbox_container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid #F2F2F2;
}

.chbox_container input:checked + .checkmark::after{
    display: block;

}

.checkmark::after{
    content: '';
    position: absolute;
    display: none;
}

.chbox_container .checkmark::after {
    border: 2px solid #3CB878;
    left: 6px;
    top: 1px;
    border-width: 0 3px 3px 0;
    width: 6px;
    height: 10px;
    transform: rotate(45deg);
}

.terms{
    position: relative;
    top: 5px;
}

.form_links{
    text-decoration: none;
    color: #3CB878;
}

/* checkbox end */


.btn_box {
    display: flex;
    justify-content: center;
}

.btn {
    width: 160px;
    height: 48px;
    color: white;
    border-radius: 4px;
    border: none;
}


.btn_facebook {
    margin-right: 2px;
    background: #305DB8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.btn_facebook:hover{
    background: #022263;
}

.btn_google {
    margin-left: 2px;
    background: #DF4A32;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.btn_google:hover{
    background: #AB1F09;;
}

fieldset {
    border: none;
    width: 322px;
    margin-left: 60px;
    margin-right: 60px;
    border: none;
    border-top: 1px solid #F2F2F2;
    margin-top: 40px;
    margin-bottom: 30px
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 15px 19px;
    outline: none;
}

input[type=text]:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

input[type=email]:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);

}

input[type=password]:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);

}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin: 8px 0;
}


.submit_btn {
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    width: 324px;
    height: 46px;
    color: white;
    border: none;
    margin: 8px 0;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
}

.submit_btn:hover {
    background: #01813F;
}